.buttonWrap {
    min-width: 100px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fea;
    border-radius: 8px;
}
.buttonText {
    font-size: 15px;
}